<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.earthadmin.mapper.ImageMapper">
    <resultMap id="imageResultMap" type="com.earthadmin.domain.entity.Image">
        <id property="_id" column="_id" />
        <result property="name" column="name"/>
        <result property="desc" column="desc"/>
        <result property="path" column="path"/>
        <result property="type" column="type"/>
        <result property="west" column="west"/>
        <result property="east" column="east"/>
        <result property="south" column="south"/>
        <result property="north" column="north"/>
        <result property="minzoom" column="minzoom"/>
        <result property="maxzoom" column="maxzoom"/>
        <result property="contenttype" column="contenttype"/>
        <result property="thumbnail" column="thumbnail"/>
        <result property="date" column="date"/>
    </resultMap>

    <sql id="selectImage">
        select `id`,`name`,`desc`,`path`,`type`,`west`,`east`,`south`,`north`,`minzoom`,`maxzoom`,`contenttype`,`thumbnail`,`date` from images
    </sql>


    <select id="findImageBySortField" resultType="list" resultMap="imageResultMap">
        <include refid="selectImage"></include>
            <if test="sortfield != null and sortfield != ''">
                order by ${sortfield} ${sort}
            </if>
    </select>
    <select id="findImageByName" resultType="com.earthadmin.domain.entity.Image">
        <include refid="selectImage"></include>

       <where>`name` = #{name}</where>

    </select>

    <insert id="addImage" parameterType="com.earthadmin.domain.entity.Image">
        insert into `images` (`id`,`name`,`desc`,`path`,`type`,`west`,`east`,`south`,`north`,`minzoom`,`maxzoom`,`contenttype`,`thumbnail`,`date`)
        values (#{id},#{name},#{desc},#{path},#{type},#{west},#{east},#{south},#{north},#{minzoom},#{maxzoom},#{contenttype},#{thumbnail},sysdate())

    </insert>


</mapper>
